<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Form Practice</title>
        <link rel="stylesheet" href="../../assets/css/signup.css">
        <link rel="stylesheet" href="../../assets/css/common.css">
    </head>
    <body>
        <body>
            <div id="wrap">
    
                <!-- Header -->
                <div id="header" class="clearfix">
                    <!-- SiteLogo -->
                <h1><a href="../main/main.html">MySite</a></h1>
    
                    <ul class="clearfix">
                        <li><a href="../user/login.html">로그인</a></li>
                        <li><a href="../user/signup.html">회원가입</a></li>
                    </ul>
                </div>
    
                <!-- Navigation-->
                <div id="navigator" class="clearfix">
                    <ul>
                        <li><a href="../info/resume.html">입사지원서</a></li>
                        <li><a href="../board/list.html">게시판</a></li>
                        <li><a href="../gallery/picture.html">갤러리</a></li>
                        <li class="norightborder"><a href="../main/main.html">방명록</a></li>
                    </ul>
                </div>

                <!-- Contents -->
                <div id="content" class="clearfix">

                    <!-- Board Menu -->
                    <div id="aside">
                        <h2>로그인</h2>
                        <ul>
                            <a href="../user/login.html"><li>로그인</li></a>
                            <a href="../user/signup.html"><li>회원가입</li></a>
                        </ul>
                    </div>

                    <!-- Main -->
                    <div id="main" class="clearfix">

                        <!-- Main-head-->
                        <div id="main-head" class="clearfix">
                            <h3>회원가입</h3>
                        </div>

                        <!-- SignupForm -->
                        <div class="form-totalwidth">
                            <form action="" method="get">
                                <div class="form-height">
                                    <label class="form-heading" for="uid">아이디</label>
                                    <input id="uid" type="text" name ="uid"placeholder="아이디를 입력하세요.">
                                </div>

                                <div class="form-height">
                                    <label class="form-heading" for="upw">패스워드</label>
                                    <input id="upw" type="password" name="upw"placeholder="패스워드를 입력하세요.">
                                </div>

                                <div class="form-height">
                                    <label class="form-heading" for="uname">이름</label>
                                    <input id="uname" type="text" name="uname" placeholder="이름을 입력하세요.">
                                </div>

                                <div class="form-height">
                                    <label class="form-heading" for="upw">프로필 사진</label>
                                    <input id="profimg" type="file" name="profimg">
                                </div>

                                <div class="form-height">
                                    <label class="form-heading" for="post-code">주소</label>
                                    <input id="post-code" type="text" name="post-code" placeholder="우편번호를 입력하세여"> <button>우편번호찾기</button><br>
                                    <input class="input-address" id="adrs" type="text" name="adrs" placeholder="주소를 입력하세요">
                                </div>

                                <div class="form-height">
                                    <label class="form-heading" >이동통신사</label>
                                    <select name="telecom">

                                        <option value="SKT" value="sk">SKT</option>
                                        <option value="SKT" value="kt">KT</option>
                                        <option value="SKT" value="lg">LGU+</option>
                                        <option value="SKT" value="etc">기타</option>

                                    </select>
                                </div>

                                <div class="form-height">
                                    <section class="age">
                                        <span class="form-heading">나이</span>

                                        <label for="rdo-10s">10대</label>
                                        <input type="radio" id="10s" value="10s" name="age" checked> 

                                        <label for="rdo-20s">20대</label>           
                                        <input type="radio" id="20s" value="20s" name="age"> 

                                        <label for="rdo-30s">30대</label>           
                                        <input type="radio" id="30s" value="30s" name="age"> 

                                        <label for="rdo-40s">40대</label>           
                                        <input type="radio" id="40s" value="40s" name="age"> 

                                        <label for="rdo-etc">기타</label>           
                                        <input type="radio" id="rdo-etc" value="etc" name="age"> 
                                    </section>
                                </div>

                                <div class="form-height">
                                    <section class="hobby">
                                        <span class="form-heading">취미</span>

                                        <label for="chk-read">독서</label>
                                        <input type="checkbox" id="chk-read" name="hobby" value="read">

                                        <label for="chk-music">음악</label>
                                        <input type="checkbox" id="chk-music" name="hobby" value="music">

                                        <label for="chk-travel">여행</label>
                                        <input type="checkbox" id="chk-travel" name="hobby" value="travel">

                                        <label for="chk-movie">영화</label>
                                        <input type="checkbox" id="chk-movie" name="hobby" value="movie">

                                        <label for="chk-code">코딩</label>
                                        <input type="checkbox" id="chk-code" name="hobby" value="code">

                                        <label for="chk-etc">기타</label>
                                        <input type="checkbox" id="chk-etc" name="hobby" value="etc">

                                    </section>
                                </div>

                                <div class="form-height">
                                    <label class="form-heading valignlt">자기소개</label>
                                    <textarea class="txtarea-size" placeholder="5줄 이상 작성해주세요."></textarea>
                                </div>

                                <div class="btn-center">
                                    <button class="btn" type="submit">등록</button>
                                    <button class="btn" type="reset">초기화</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

                <!-- Footer -->
                <div id="footer">
                    <p>Copyright &#169; 2021 Thomas Kim. All right reserved</p>
                </div>
            </div>
        </div>
    </body>
</html>