@charset "utf-8";

.form-totalwidth {
    display: table;
    margin: 0 auto;
}

.form-heading {
    display: inline-block;
    width: 100px;
}
.input-address{
    margin: 5px 5px 5px 105.5px;
    width: 500px;
}
.form-height {
    margin: 5px 5px 5px 5px;
    padding: 5px 5px 0px 5px;
}

.btn {
    padding: 3px 10px 3px 10px;
    margin: 5px 0px 5px 0px;
    width: 280px
}

.btn-center {
    margin-left: 10px;
}

.txtarea-size{
    height: 100px;
    width: 500px;
}

.valignlt{
    vertical-align: top;
}

#userremember {
    margin: 0px 0px 0px 10px
}