@charset "utf-8";

.form-heading {
    display: inline-block;
    width: 100px;
}
.input-address{
    margin: 5px 5px 5px 105.5px;
    width: 500px;
}
.form-height {
    margin: 5px 5px 5px 5px;
    padding: 5px 5px 12px 5px;
    border-bottom: 1px solid black
}

.btn {
    padding: 5px 15px 5px 15px;
    margin: 5px 0px 5px 0px
}
.btn-center{
    text-align: center;
}

.txtarea-size{
    height: 100px;
    width: 500px;
}

.valignlt{
    vertical-align: top;
}

input[type="radio"], input[type="checkbox"]{
    margin: 0px 20px 0px -2px;
}